[security]
SECRET_KEY = ""
ALGORITHM = ""
ACCESS_TOKEN_EXPIRE_MINUTES = 30
REFRESH_TOKEN_EXPIRE_DAYS = 7

[database]
DRIVER = ""
HOST = ""
PORT = 
NAME = ""
USER = ""
PASSWORD = ""

[docker]
API_VERSION = "1.41"